/* Google fonts added */
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=IBM+Plex+Sans:wght@200&display=swap");

/* Wildcard to override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
html body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #000000;
    font-family: "Amiri", sans-serif;
}

/* Header */
header {
    background-color: #f3ccd5;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    margin: 10px 0
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    text-transform: uppercase;
    color: inherit;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.flow {
    border-bottom: 1px solid inherit;
}

/* Navbar styling and dropdown toggle */
nav {
    position: absolute;
    background-color: #f3ccd5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 20px;
}

/* Main Content */
main {
    background-color: #ebe7e0;
    /* Make main element take up surplus space */
    flex: 1 0 auto;
    margin: 61px 0 0;
}

main #page-heading {
    font-family: "Amiri" sans-serif;
    font-style: oblique;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
}

/* homepage image */
#hp-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* homepage caption */
#hp-caption {
    font-size: 15px;
    font-style: oblique;
    text-align: center;
}

/* about me description */
#about-me {
    display: block;
    text-align: center;
    font-size: small;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Image of Julie */
#julie {
    width: 200px;
    height: 150px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* products page (2) */
#products {
    font-size: 40px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
}

#candle-jar-text {
    font-size: 20px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px;
}

#candle-jar-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.block-label {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#fragrance {
    display: block;
    margin: 10px auto 10px auto;
}


/* footer */
footer {
    background-color: #f3ccd5;
    height: 75px;
    align-content: center;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: black;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 769px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push content down to accomodate larger heading */
        margin-top: 80.59px
    }

    main #page-heading {
        font-size: 40px;
    }

    #hp-img {
        width: 400px;
        height: 300px;
    }

    #hp-caption {
        font-size: 25px;
    }

    #about-me {
        font-size: medium;
    }

    #julie {
        width: 400px;
        height: 300px;
    }

}