/* Google fonts added */
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=IBM+Plex+Sans:wght@200&display=swap');

/* Wildcard to override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #f3ccd5;
    padding: 0 1rem;
    position: fixed;
    width: 100%;

}