/* Google fonts added */
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=IBM+Plex+Sans:wght@200&display=swap");

/* Wildcard to override default styles by the browser */
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    /* Generic project styles */
    color: #000000;
    font-family: "Amiri", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

/* Header */
header {
    background-color: #f3ccd5;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    margin: 10px 0
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    text-transform: uppercase;
    color: inherit;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.flow {
    border-bottom: 1px solid inherit;
}

/* Navbar styling and dropdown toggle */
nav {
    position: absolute;
    background-color: #f3ccd5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 20px;
}

/* Main Content */
main {
    background-color: #ebe7e0;
    /* Make main element take up surplus space */
    margin: 61px 0 0;
    overflow: auto;
    }

main #page-heading {
    font-family: "Amiri" sans-serif;
    font-style: oblique;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center;
}

/* homepage image */
#hp-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* homepage caption */
#hp-caption {
    font-size: 15px;
    font-style: oblique;
    text-align: center;
}

/* about me description */
#about-me {
    display: block;
    text-align: center;
    font-size: small;
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
}

/* Image of Julie */
#julie {
    width: 200px;
    height: 150px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
}

/* products page (2) */
#products {
    font-size: 40px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    font-weight: 700;
    margin: auto auto 35px;
}

#candle-jar-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#candle-jar-text {
    font-size: 15px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px auto 0;
}

#threewick-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#threewick {
    font-size: 15px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px auto 0;
}

#diffuser-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#diffuser {
    font-size: 15px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px auto 0;
}

#selection-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#selection {
    font-size: 15px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px auto 0;
}

#melts-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#melts {
    font-size: 15px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px auto 0;
}

#burner-img {
    height: 150px;
    width: 200px;
    margin: 15px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#burner {
    font-size: 15px;
    text-align: center;
    font-family: 'Amiri';
    margin: 20px auto 0;
}

.block-label {
    font-size: 15px;
    display: flex;
    justify-content: center;
}

#fragrance {
    display: block;
    margin: 10px auto 10px auto;
}

/* Page 3 Workshops */
#workshops {
    font-size: 40px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: auto auto 35px;
    }

#question {
    font-size:25px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
}

#pg3text {
    font-size:20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    margin: 20px;
}

#workshopimg1 {
    height: 300px;
    width: 350px;
    margin: 30px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#workshop1course{
    font-size:20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}

.workshoptext {
    font-size:12px;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}

#workshop2course{
    font-size:20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}
#workshopimg2 {
    height: 300px;
    width: 350px;
    margin: 30px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#workshop3course{
    font-size:20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
}

#workshopimg3 {
    height: 300px;
    width: 350px;
    margin: 30px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Page 4 Contact Us */
#contactus {
    font-size: 40px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: auto auto 35px;
    }

#pg4text {
    font-size:20px;
    font-family: "IBM Plex Sans", sans-serif;
    text-align: center;
    margin: 20px;
}

.form {
    width: 300px;
    height: 100px;
    font-size: 15px;
    text-align: center;
    margin: auto;}

#address {
    text-align: center;
    margin: 40px; 
}

#google-map {
    display: block;
    margin: auto ;
}

#recycle {
    display: flex;
    justify-content:space-evenly;
    margin: 30px auto 25px auto;
}

#recycle1 {
    font-size: 10px;
    text-align: center;
    width: 20%;
    float: left
}

#recycle2 {
    font-size: 10px;
    text-align: center;
    width: 20%;
    float: left
}

#recycle3 {
    font-size: 10px;
    text-align: center;
    width: 20%;
    float: left
}

#recycle4 {
    font-size: 10px;
    text-align: center;
    width: 20%;
    float: left
}





/* footer */
footer {
    background-color: #f3ccd5;
    height: 75px;
    align-content: center;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media li {
    font-size: 20px;
}

#social-media a {
    color: black;
}

/* media query: tablets and larger (768px and up) */
    @media screen and (min-width: 769px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
    /* Push content down to accomodate larger heading */
        margin-top: 80.59px;
        height: 100%;
    }

    main #page-heading {
        font-size: 40px;
    }

    #hp-img {
        width: 400px;
        height: 300px;
    }

    #hp-caption {
        font-size: 25px;
    }

    #about-me {
        font-weight: 600 ;    
    }

    #julie {
        width: 400px;
        height: 300px;
    }

    /* Page 2 - Products  */
    #product1 {
        height: 359px;
        width: 50%;
        float: left;
    }

    #product2 {
        height: 359px;
        width: 50%;
        float: right;
    }

    #product3 {
        height: 359px;
        width: 50%;
        float: left;
    }

    #product4 {
        height: 359px;
        width: 50%;
        float: right;
    }

    #product5 {
        height: 359px;
        width: 50%;
        float: left;
    }
    
    #product6{
        height: 359px;
        width: 50%;
        float: right;
    }   
    /* page 4 */
    
}

/* media query: tablet + (992px and up) */
    @media screen and (min-width: 992px) {
        
    /* Main content */
        #about-me {
            width: 50%;
            float: right;
            margin-top: 50px;
            margin-right: 5px;
            }
    
        #julie {
            float: left;
            width: 400px;
            margin-left: 20px; 
            }

        #w1 {
            width: 50%;
            float: left;
        }    
        
        #w2{
            width: 50%;
            float: right;
        }

        #w3 {
            width: 50%;
            margin: 0 auto;
            }
        }

           /* media query: desktop (1200px and up) */
 @media screen and (min-width: 1200px) {
    
    /* Main Content */
    #about-me {
        width: 50%;
        float: right;
        margin-top: 50px;
        font-size: 17px;
    }

    #julie {
        
        float: left;
        width: 550px;
        
    }
   
    /* Page 2 - Products */
    #product1 {
        height: 359px;
        width: 33.33%;
        float: left;
    }

    #product2 {
        height: 359px;
        width: 33.33%;
        float: left;
    }

    #product3 {
        height: 359px;
        width: 33.33%;
        float: right;
    }

    #product4 {
        height: 359px;
        width: 33.33%;
        float: left;
    }

    #product5 {
        height: 359px;
        width: 33.33%;
        float: left;
    }
    
    #product6 {
        height: 359px;
        width: 33.33%;
        float: right;
    } 

    /* Page 3 workshop */

    #w1 {
        width: 33.33%;
        float: left;
    }    
    
    #w2{
        width: 33.33%;
        float: left;
    }

    #w3 {
        width: 33.33%;
        float: right;
        
        }
}